*{
    padding: 0;
    margin: 0;
}
body{
   
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Nunito', sans-serif;
   
}
.navbar-light .navbar-nav .nav-link {
    color:rgb(131, 127, 127);
    font-weight:500;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;  

    
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#26500C;
    
    
}
.home-margin-top
{
    margin-top:     0px;
  
}
.navbar
{
    background: black;
    
}

.navbar-margin-top
{
    margin-top: -10px;
    padding-bottom: 0;
    width: auto;
}
@media only screen and (max-width: 600px) {
    .navbar
    {
        background: black;
        height: auto;
        margin-top:0px;
    }
    .light{
        display: none;
    }
    .slider{
        display: none;
        margin: 0;
        padding: 0;
    }
    .content{
        display: none;
        margin: 0;
        padding: 0;
    }
    .slider{
        display: none;
        margin: 0;
        padding: 0;
    }
    .home-margin-top
    {
        margin-top: -25px;
        padding: 30px;
    }
    .detail-head{
        color: #999;
        font-weight: bold;
        font-size: .9rem;
        text-transform: uppercase;
    
    }
    .detail-number{
     
        color: #183E01;
    }
} 


@media only screen and (min-width: 992px) {
    .navbar
    {
        height: 20px;
        padding:10px 0 10px 0;
    }
}


.ieee-sb-rit-home{
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.ieee-sb-rit-home-ias{
    font-size: 5.2rem;
    font-weight: 600;
    color: #183E01;
    font-family: 'Poppins', sans-serif;
}
.ieee-sb-rit-home-ias-event{
    
        font-size: 3.5rem;
        font-weight: 600;
        color: #183E01;
        font-family: 'Poppins', sans-serif;
}

.home-head{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.marginleft-navbar
{
    margin-left: 40%;
}
#index-bg-image{
    background-color: white;
}
.index-bg-image{
    height: 1600px;
}

.landing-img
{
    margin-left: 10%;
}
.bold
{
    font-weight: bold;
}
.home-head{
    color:  #476899;  
    font-family: 'Poppins', sans-serif;
}

.what-head{
    color:  #476899;   
    font-family: 'Poppins', sans-serif;    
}
.what-content{
    font-size: 1.2em;
    line-height: 1.5em;
  
   
}

.abt-ias-nearimg{
    font-family: 'Nunito', sans-serif;
    color: rgba(255,255,255,.5);
    line-height: 1.7em;
    font-weight: 100;
    font-size: 1.1em;
}
.abt-evnt{
    font-family: 'Nunito', sans-serif;
    color: rgba(255,255,255,.5);
    line-height: 1.7em;
    font-weight: 100;
    font-size: 1.1em;
}
.abt-ieee-content{
    color: rgba(255,255,255,.6);
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'Nunito', sans-serif;

   
    
}
.abt-sb-bg{
    background-color:rgba(0,0,0,.9);
 
}
.abt-ias-bg{
    background-color:rgba(0,0,0,.9);
    
}

.bg-abt-image{
    background-image: url(./images/darabout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.height-adjust
{
    height: 65px;
    padding-left: 15px;
    border-left: 1px solid gray;
}

.bg-img{
    background: url("./images/group.jpg");

    min-height: 400px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-achievement-image{
    background: url("./images/group.jpg");

    min-height: 400px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bold-strength{
    color: white;
    font-size: 2.6rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.number-strength
{
   font-size: 1.9rem;
   color: yellow;
   font-weight: bolder;
   border-radius: 800px;
   font-family: 'Poppins', sans-serif;
   height: 120px;
   text-align: center;
}
.bg-drak1
{
    background: black;
    height: 300px;
}
.inside-mem{
    position: relative;
    top: 10px;
    font-size: 3.5rem;
}
.bg-footer{
    background:#212529;;
}
hr{
    color: white;
}

.btm-border
{
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}

.ias-exe{
    font-weight: bold;
    font-size: 2.6em;
    font-family: 'Poppins', sans-serif;

}
/* Icon 1 */
.animated-icon2{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon2 span{
    display: block;
    position: absolute;
    height: 4px;
    width: 110%;
    border-radius: 13px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    .animated-icon2 span {
        background: #808080;
}

.animated-icon2 span:nth-child(1)
 {
    top: 0px;
}
.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) 
{
    top: 10px;
}
.animated-icon2 span:nth-child(4)
 {
    top: 20px;
}
.animated-icon2.open span:nth-child(1) 
{
    top: 11px;
    width: 0%;
    left: 50%;
}
.animated-icon2.open span:nth-child(2)
 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.animated-icon2.open span:nth-child(3)
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.animated-icon2.open span:nth-child(4)
{
    top: 11px;
    width: 0%;
    left: 50%;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border: none;
    outline: none;
}

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  }
  .slider-wrapper {
    font-size: 40px;
    color:#999;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: left;
    justify-content: center;
  }
  .slider{
    height: 50px;
    padding-left:15px;
    overflow: hidden;
  }
  .slider div {
   font-weight: 600;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .slider-text1 {
    color: rgb(0, 24, 0);
    animation: slide 8s linear infinite;
  }
  .slider-text2 {
    color: rgb(39, 1, 1);
  }
  .slider-text3 {
    color: rgb(29, 3, 102);
  }
  @keyframes slide {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    100% {margin-top:0px;}
  }
.light{
    color: #808080;
    margin-left: -60px;
}
.text-light{
    color: #808080;
}


@media (max-width: 991px) {
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      -moz-text-align-last: center;
      text-align-last: center;
    }
    #hero h1 {
      font-size: 3rem;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 3.5rem;
      line-height:35px;
      margin-bottom: 30px;
    }
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  }
  
  .abt-ias-chapter{
      color: rgba(130, 128,128, .9);
  }
.achievement{
    color: rgba(255,255,255,.7);
    font-size: 1.3rem;

}

.achievement-li{
    list-style:square;
    color: rgba(255,255,255,.7);
    font-size: 1.2rem;
    font-weight: 300;
}

.detail-head{
    color: #808080;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;

}
.detail-date{
    color: #808080;
   
    font-size: 1.2rem;
    text-transform: uppercase;
}
.detail-number{
 
    color: #183E01;
}
.msn-vsn{
    background: white;
}

.our-strength{
    color: white;
    font-weight: 800;
    font-size: 3rem;
    
}
.bg-team{
    background-color: white;
}